.container-margin {
    margin-top: calc(100vh - 400px);
    font-family: sans-serif;
}

.nav-bar.collapsed+.container-margin {
    margin-top: calc(100vh - 400px);
    font-family: sans-serif;
}

@media (max-width: 768px) {
    .container-margin {
        margin-top: 170px;
    }

    .pushed-down {
        margin-top: calc(100vh - 500px);
    }
}