.project-container {
    background-color: rgb(226 226 226 / 66%) !important;
    border-radius: 25px;
    padding: 10px;
}

.project-content {
    padding-bottom: 20px;
}

hr {
    height: 40px;
    border: 3px solid;
    border-color: #e2e2e2;
}

.projects-title {
    font-family: sans-serif;
    padding: 10px;
}

.project-title {
    font-family: sans-serif;
    padding: 10px;
    text-align: center;
}

.project-body {
    padding: 15px;
    text-align: justify;
}

.project-footer {
    text-align: center;
}